.page
    margin-top: 125px

    > h1
        text-align: center
        margin-bottom: 6rem

.about
    .about-selfie
        width: 36%
        margin: 0 auto
        display: block
        aspect-ratio: 1 / 1
        object-fit: cover
        border-radius: 100%
