@use "../base/variables" as tokens

.footer-main
    border-top: 1px solid tokens.$color-border
    padding: tokens.$space-7 0
    margin: tokens.$space-7 0 0
    font-family: tokens.$fontUi
    font-size: 1.3rem
    color: tokens.$color-text-muted
    font-weight: 400
    text-align: center
    position: relative

    &:before
        display: block
        content: " "
        width: 7px
        height: 7px
        border: tokens.$color-border 1px solid
        position: absolute
        top: -5px
        left: 50%
        margin-left: -5px
        background: #FFF
        box-shadow: #FFF 0 0 0 5px
        border-radius: 3px

    > .link
        --icon-size: #{tokens.$icon-size-small}
        color: inherit
        text-decoration: none
        display: inline-flex
        align-items: center

        > .icon
            transition: color .3s ease-in-out

        &:hover
            color: tokens.$color-accent

    > .extra
        color: tokens.$color-text-muted
        margin-top: 0

        > .link
            color: tokens.$color-text-strong
            text-decoration: none
            border-bottom: 1px solid transparent
            transition: ease-in-out all .3s
            padding-bottom: 1px

            &:hover
                border-color: tokens.$color-text-muted
