.header-home
    display: block
    margin: 0 auto
    text-align: center
    position: relative
    z-index: 99

    > .link > .selfie
        width: 125px
        margin-bottom: 25px
        border-radius: 100%
        transition: all .2s
        box-shadow: 0
        opacity: 1

        &:hover
            box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18), 0 0px 12px 0 rgba(0,0,0,0.15)
            opacity: .8

    > .title
        font-family: $fontDisplay
        font-size: 6.8rem
        line-height: 0.93
        letter-spacing: -0.06em
        margin: 0 0 2.6rem

        @media #{$mobile}
            font-size: 5rem

        @media #{$tablet}
            font-size: 5.8rem

    > .social-links
        margin-top: 0
