@use "../base/variables" as tokens

.side-by-side
    @media #{tokens.$above}
        width: 130%
        margin: 6rem 0 6rem -15%

    @media #{tokens.$below}
        width: 100%
        margin: 4rem 0

    > .toleft,
    > .toright
        display: inline-block
        width: 47.5%

        @media #{tokens.$below}
            img
                text-align: center
                display: block
                margin: 0 auto

    > .toleft
        @media #{tokens.$above}
            margin-right: 2%

        @media #{tokens.$below}
            width: 100%
            margin: 0 0 4rem 0

    > .toright
        @media #{tokens.$above}
            margin-left: 2%
            vertical-align: top

        @media #{tokens.$below}
            width: 100%
            margin: 0 0 4rem 0

    > .toleft > p,
    > .toright > p
        margin: 0 0 4rem 0

        @media #{tokens.$below}
            margin: 0
